{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <a href="https://www.johnbryce.co.il" class="lang-logo">
      <img src="/images/lang-logo.png">
    </a>
    <h1>We are JB Talents</h1>
    <p>Perfect in: HTML, HTML5, CSS, CSS3, BOOTSTRAP, JS, JQUERY, OOP, PHP</p>
   </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    10/06/2018 - REVIEW TO INTERVIEW
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Shai Haim </h3>
      <ul>
       <li>PHP</li>
       <li>Angular 5</li>
       <li>NodeJS</li>    
      </ul>
    </div>
        <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span>Gal Cohen Or</h3>
      <ul>
       <li>JQUERY</li>
       <li>React</li>
       <li>VB</li>    
    </ul>
    </div>
  </div> <!-- row -->

</div>

{% endblock %}
